<%=form_for :registration, local: true do |f|%>
  
<h2> My Child Booking </h2>

<!--Validation display-->

<%if @registration.errors.any?%>
    <div class="alert alert-error alert-dismissable fade show">
      <h3><%=pluralize(@registraion.errors.count, "error")%> prohibited this listing from being saved </h3>
      <ul>
        <%@registration.errors.full_messages.each do |message|%>
          <li><%=message%></li>
        <%end%>
      </ul>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%end%>


    <div class='form-group mb-3'> 
      
      <%=f.label "Parent User Id", class: "form-label"%>
      
      <%=f.number_field :user_id, :value => current_user.id %>
     
    </div>

    <div class='form-group mb-3'> 
    <%=f.label :"Activity Id", class: "form-label"%>
    <%=f.number_field :activity_id, :value => @activity.id%>

    
    </div>

    
    <div class='form-group mb-3 mt-3'> 
      <%=f.label "Name", class: "form-label"%>
      <%=f.text_field :name%>
    </div>
    
    <div class='form-group mb-3'> 
      <%=f.label "Surname", class: "form-label"%>
      <%=f.text_field :surname%>
    </div>
    
    <div class='form-group mb-3'> 
        <%=f.label "Age", class: "form-label"%>
        <%=f.number_field :age%>
    </div>

    <div class='form-group mb-3'> 
        <%=f.label "Contact Number", class: "form-label"%>
        <%=f.text_field :contact_no%>
    </div>
    
  
  <div class='actions'> 
     <%=f.submit "Submit"%>
    </div>
  <%end%>

  